﻿body {
    background: #fff;
}

a{
    color: #000;
}

a:hover {
   text-decoration: none;
}

.titulo {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.titulo2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
}
.img_card{
    height: 250px;
}

.acciones{
    margin-right: 5px;
}

.acciones:hover{
    color:dodgerblue;
    cursor: pointer;
}